<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- viewport for screen adaptation -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Local Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static '/css/main.css' %}">

    <title>Citi Express</title>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light navbar-color sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand"><img src="{% static '/images/Logo.png' %}" class="d-inline-block align-top" alt="" width="50" height="50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Debut <span class="sr-only">(current)</span> </a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Commandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Aide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_page' %}">à propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Histoire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sign_out' %}">sign out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--Welcome the user -->
<div class="container-fluid">
    {% if user.is_authenticated %}
  <h6 class="text-left">Bienvenue {{user.username}}! <br/>{% now "F jS Y" %}</h6>
    {% else %}
  <h6 class="text-left">Bienvenue! <br/>{% now "F jS Y" %}</h6>
    {% endif %}
</div>

<!-- card-group -->
<div class="container" id="citiexpressspacing">
    <div class="row">
        <div class="card-group shadow-lg">
            <div class="card citiexpress-card-group">
                <img class="card-img-top" src="{% static 'images/daria-nepriakhina-608450-unsplash.jpg' %}" alt="">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Envoyer</h5>
                    <p class="card-text text-center">Clicker sur "envoyer" pour commencer l'envoy dun colis</p>
                    <a href="{% url 'location_page' %}" class="btn btn-success">Envoyer</a>
                </div>
            </div>
            <div class="card citiexpress-card-group">
                <img class="card-img-top" src="{% static 'images/maarten-van-den-heuvel-246398-unsplash.jpg'%}" alt="">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center">Recevoir</h5>
                        <p class="card-text text-center">Clicker sur "Recevoir" en cas d'attente d'un courrier</p>
                        <a href="#" class="btn btn-success">Recevoir</a>
                    </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>